# Data-Pipelines

## Libraries

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import re
import numpy as np
import squarify 
import calendar
import requests
from bs4 import BeautifulSoup
import pycountry

## Context and hypotheses

Other possible variables to consider, not included in this analysis: unemployment rate, gender (in)equality

## Data Collection Process

### Original Dataset from Kaggle

In [ ]:
## Objetivo: Descargar un datset y enriqucerlo con api y web spcraping

World happiness report 2015-2022 (AUTHORS, LITTLE EXPLANATION REPORT AND DATASET, IN WHICH CHAPTER THEY USE DATASET, MAYBE SHOW ORIGINAL GRAPHS FROM REPORT
--> stuty happiest/least happy countries relate with pollution around the world. 
Web scraping of https://worldpopulationreview.com/country-rankings/most-polluted-countries

In [2]:
df = pd.read_csv("../input/world-happiness-report-2015-2022-cleaned.csv")

In [ ]:
df

In [ ]:
df['Country'] = df['Country'].str.replace("*", "")

### IQ Air Web scraping

In [ ]:
## Web scraping to obtain air pollution by country
# Website = https://www.iqair.com/world-most-polluted-countries
# table = Most polluted country and region ranking based on annual average PM2.5 concentration (μg/m³)

Find the following columns from the website:
- Rank
- Country/Region	
- 2018		
- 2019	
- 2020	
- 2021
- Population

In [ ]:
def scrape_column(obj, attrs, soup):
    """
    Finds the column in the soup
    Args: the object and attribute of the soup
    Returns: list of the elements of the column
    """
    find = soup.find_all(obj, attrs=attrs)
    return [i.getText().strip() for i in find]

In [ ]:
def generate_df(rank, country, year_2018, year_2019, year_2020, year_2021, population):
    """
    Creates a df from the scraped cols
    Args: the 7 scraped cols
    Returns: unpivot df = the 4 year cols in one
    """
    
    pollution_country = {
    "Rank":rank,
    "Country":country,
    "2018":year_2018,
    "2019":year_2019,
    "2020":year_2020,
    "2021":year_2021,
    "Population":population
}
    df = pd.DataFrame(pollution_country)
    df_unpivot = pd.melt(df, id_vars=['Country', 'Population'], value_vars=['2018', '2019', '2020', '2021'], var_name='Year', value_name='Pollution')
    return df_unpivot

In [ ]:
def scrape_iqair():
    """
    Scrapes iqair website
    Returns: outputs data in pandas df
    """
    url = "https://www.iqair.com/world-most-polluted-countries"
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    rank = scrape_column('td', {"class":"mat-cell cdk-cell table--cell__rank cdk-column-rank mat-column-rank ng-star-inserted"}, soup)
    country = scrape_column('div', {"class":"country-name"}, soup)
    year_2018 = scrape_column('td', {"class":"mat-cell cdk-cell table--cell__year__country has-single-badge is-radius-left is-radius-right cdk-column-avg2018 mat-column-avg2018 ng-star-inserted"}, soup)
    year_2019 = scrape_column('td', {"class":"mat-cell cdk-cell table--cell__year__country has-single-badge is-radius-left is-radius-right cdk-column-avg2019 mat-column-avg2019 ng-star-inserted"}, soup)
    year_2020 = scrape_column('td', {"class":"mat-cell cdk-cell table--cell__year__country has-single-badge is-radius-left is-radius-right cdk-column-avg2020 mat-column-avg2020 ng-star-inserted"}, soup)
    year_2021 = scrape_column('td', {"class":"mat-cell cdk-cell table--cell__year__country has-single-badge is-radius-left is-radius-right cdk-column-avg2021 mat-column-avg2021 ng-star-inserted"}, soup)
    population = scrape_column('td', {"class":"mat-cell cdk-cell is-radius-left is-radius-right table--cell__population cdk-column-population mat-column-population ng-star-inserted"}, soup)
    df = generate_df(rank, country, year_2018, year_2019, year_2020, year_2021, population)
    return df

In [ ]:
pollution = scrape_iqair()

In [ ]:
pollution

###  World Bank Indicators API

The World Bank Indicators API provides access to nearly 16,000 time series indicators. Most of these indicators are available online through tools such as Databank and the Open Data website. The API provides programmatic access to this same data. Many data series date back over 50 years, and can be used to create interesting applications.
The Indicators API provides access to over 45 databases and no authentication method is required to access the API.

**URL usage**

The basic url for the v2 API version of the World Bank Indicators is `http://api.worldbank.org/v2/country/all/indicator/indicator_code` where indicator_code has to be replaced by the id of the indicator to extract data for.

The API supports query string on the url, and the following ones have been used:
- format:  output format of the request. Json format is choosed
- date: date range of the API request. From 2015 to 2022 as in the source data.
- per_page: number of results per page. Length on the longest response.

In [3]:
def worldbank_indicator(indicator_name, indicator_code):
    url = 'http://api.worldbank.org/v2/country/all/indicator/{}?format=json&date=2015:2022&per_page=6000'
    response = requests.get(url.format(indicator_code))
    data = response.json()
    df = pd.json_normalize(data[1])
    df = df[['country.id','country.value', 'date', 'value']]
    df.columns = ['Country code', 'Country', 'Year', indicator_name]
    return df

In [ ]:
#Education: Mean years of schooling (ISCED 1 or higher), population 25+ years, both sexes
schooling_years = worldbank_indicator(indicator_name='Avg. Schooling Years', indicator_code='UIS.EA.MEAN.1T6.AG25T99')

In [ ]:
schooling_years

In [4]:
#Literacy rate, adult total (% of people ages 15 and above) - SE.ADT.LITR.ZS
literacy = worldbank_indicator(indicator_name='Literacy Rate', indicator_code='SE.ADT.LITR.ZS')

In [ ]:
literacy

### Merging datasets

In [ ]:
# They will all be left joins

In [ ]:
# df - pollution - schooling_years - literacy

In [ ]:
# convert 'year' col of df into object to enable merge bc it's the only int64 one
df['Year'] = df['Year'].astype(int)

In [ ]:
pollution['Year'] = pollution['Year'].astype(int)

In [5]:
literacy['Year'] = literacy['Year'].astype(int)

In [ ]:
schooling_years['Year'] = schooling_years['Year'].astype(int)

In [ ]:
schooling_years.dtypes

In [ ]:
list(df.Country.unique())

In [ ]:
pollution[pollution.Country=='Spain']

In [ ]:
pd.merge(df, pollution, on=["Country", "Year"], how="left")

**Try to merge df with API**

In [ ]:
test = pd.merge(df, literacy, on=["Country", "Year"], how="left")

In [ ]:
test[test["Litaracy Rate"].notna()]

In [6]:
(pd.merge(df, literacy, on=["Country", "Year"], how="left"))['Literacy Rate'].isna().sum()

1045

In [9]:
(pd.merge(df, literacy, on=["Country code", "Year"], how="left"))['Literacy Rate'].isna().sum()

1033

In [ ]:
countries

In [7]:
def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
        return result[0].alpha_2
    except:
        return np.nan

df["Country code"] = df["Country"].apply(lambda country: do_fuzzy_search(country))

In [ ]:
df['Country Code'].isna().sum()