# Data-Pipelines

## Libraries

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import re
import numpy as np
import squarify 
import calendar
import requests
from bs4 import BeautifulSoup
import pycountry

### Functions

In [2]:
import scraper as scr
import api_extract as api

## Context and hypotheses

Other possible variables to consider, not included in this analysis: unemployment rate, gender (in)equality

## Data Collection Process

### Original Dataset from Kaggle

In [3]:
## Objetivo: Descargar un datset y enriqucerlo con api y web spcraping

World happiness report 2015-2022 (AUTHORS, LITTLE EXPLANATION REPORT AND DATASET, IN WHICH CHAPTER THEY USE DATASET, MAYBE SHOW ORIGINAL GRAPHS FROM REPORT
--> stuty happiest/least happy countries relate with pollution around the world. 
Web scraping of https://worldpopulationreview.com/country-rankings/most-polluted-countries

In [4]:
df = pd.read_csv("../input/world-happiness-report-2015-2022-cleaned.csv")

In [5]:
df

,Unnamed: 0,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,0,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,1,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2015
2,2,3,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,3,4,Norway,Western Europe,7.522,1.459,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,4,5,Canada,North America,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
1224,141,142,Botswana*,-,"3,471","1,503","0,815","0,280","0,571","0,102","0,012",2022
1225,142,143,Rwanda*,-,"3,268","0,785","0,133","0,462","0,621","0,544","0,187",2022
1226,143,144,Zimbabwe,Sub-Saharan Africa,"2,995","0,947","0,690","0,270","0,329","0,105","0,106",2022
1227,144,145,Lebanon,Middle East and Northern Africa,"2,955","1,392","0,498","0,631","0,103","0,034","0,082",2022
1228,145,146,Afghanistan,Southern Asia,"2,404","0,758","0,000","0,289","0,000","0,005","0,089",2022

In [6]:
df['Country'] = df['Country'].str.replace("*", "")

/var/folders/_3/sh9lq8cx353bw8jn9pybzhn00000gn/T/ipykernel_88751/2626315879.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Country'] = df['Country'].str.replace("*", "")

### IQ Air Web scraping

In [7]:
## Web scraping to obtain air pollution by country
# Website = https://www.iqair.com/world-most-polluted-countries
# table = Most polluted country and region ranking based on annual average PM2.5 concentration (μg/m³)

Find the following columns from the website:
- Rank
- Country/Region	
- 2018		
- 2019	
- 2020	
- 2021
- Population

In [14]:
pollution = scr.scrape_iqair()

In [15]:
pollution

                               Country     Population  Year Pollution
0                           Bangladesh    164,689,383  2018      97.1
1                                 Chad     16,425,859  2018         -
2                             Pakistan    220,892,331  2018      74.3
3                           Tajikistan      9,537,642  2018         -
4                                India  1,380,004,385  2018      72.5
..                                 ...            ...   ...       ...
463  Bonaire, Saint Eustatius and Saba         26,221  2021       5.1
464                         Cape Verde        555,988  2021       5.1
465                        Puerto Rico      2,860,840  2021       4.8
466                U.S. Virgin Islands        104,423  2021       4.5
467                      New Caledonia        285,491  2021       3.8

[468 rows x 4 columns]

###  World Bank Indicators API

The World Bank Indicators API provides access to nearly 16,000 time series indicators. Most of these indicators are available online through tools such as Databank and the Open Data website. The API provides programmatic access to this same data. Many data series date back over 50 years, and can be used to create interesting applications.
The Indicators API provides access to over 45 databases and no authentication method is required to access the API.

**URL usage**

The basic url for the v2 API version of the World Bank Indicators is `http://api.worldbank.org/v2/country/all/indicator/indicator_code` where indicator_code has to be replaced by the id of the indicator to extract data for.

The API supports query string on the url, and the following ones have been used:
- format:  output format of the request. Json format is choosed
- date: date range of the API request. From 2015 to 2022 as in the source data.
- per_page: number of results per page. Length on the longest response.

In [9]:
#Education: Mean years of schooling (ISCED 1 or higher), population 25+ years, both sexes
schooling_years = api.worldbank_indicator(indicator_name='Avg. Schooling Years', indicator_code='UIS.EA.MEAN.1T6.AG25T99')

In [10]:
schooling_years

,Country code,Country,Year,Avg. Schooling Years
0,,Global Partnership for Education,2100,NaN
1,,Global Partnership for Education,2095,NaN
2,,Global Partnership for Education,2090,NaN
3,,Global Partnership for Education,2085,NaN
4,,Global Partnership for Education,2080,NaN
...,...,...,...,...
5891,ZW,Zimbabwe,2019,NaN
5892,ZW,Zimbabwe,2018,NaN
5893,ZW,Zimbabwe,2017,8.4668
5894,ZW,Zimbabwe,2016,NaN
5895,ZW,Zimbabwe,2015,NaN

In [11]:
#Literacy rate, adult total (% of people ages 15 and above) - SE.ADT.LITR.ZS
literacy = api.worldbank_indicator(indicator_name='Literacy Rate', indicator_code='SE.ADT.LITR.ZS')

In [12]:
literacy

     Country code                      Country  Year  Literacy Rate
0              ZH  Africa Eastern and Southern  2021            NaN
1              ZH  Africa Eastern and Southern  2020            NaN
2              ZH  Africa Eastern and Southern  2019            NaN
3              ZH  Africa Eastern and Southern  2018            NaN
4              ZH  Africa Eastern and Southern  2017            NaN
...           ...                          ...   ...            ...
1857           ZW                     Zimbabwe  2019            NaN
1858           ZW                     Zimbabwe  2018            NaN
1859           ZW                     Zimbabwe  2017            NaN
1860           ZW                     Zimbabwe  2016            NaN
1861           ZW                     Zimbabwe  2015            NaN

[1862 rows x 4 columns]

### Merging datasets

In [ ]:
# They will all be left joins

In [ ]:
# df - pollution - schooling_years - literacy

In [ ]:
# convert 'year' col of df into object to enable merge bc it's the only int64 one
df['Year'] = df['Year'].astype(int)

In [ ]:
pollution['Year'] = pollution['Year'].astype(int)

In [ ]:
literacy['Year'] = literacy['Year'].astype(int)

In [ ]:
schooling_years['Year'] = schooling_years['Year'].astype(int)

In [ ]:
schooling_years.dtypes

In [ ]:
list(df.Country.unique())

In [ ]:
pollution[pollution.Country=='Spain']

In [ ]:
pd.merge(df, pollution, on=["Country", "Year"], how="left")

**Try to merge df with API**

In [ ]:
test = pd.merge(df, literacy, on=["Country", "Year"], how="left")

In [ ]:
test[test["Litaracy Rate"].notna()]

In [ ]:
(pd.merge(df, literacy, on=["Country", "Year"], how="left"))['Literacy Rate'].isna().sum()

In [ ]:
(pd.merge(df, literacy, on=["Country code", "Year"], how="left"))['Literacy Rate'].isna().sum()

In [ ]:
countries

In [ ]:
def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
        return result[0].alpha_2
    except:
        return np.nan

df["Country code"] = df["Country"].apply(lambda country: do_fuzzy_search(country))

In [ ]:
df['Country Code'].isna().sum()